.navbar{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.navbar-brand img{
    padding-left: 50px;
}
.navbar .collapse .navbar-nav li{ 
    padding: 5px;
    font-weight: bold;
    font-size: 1.1em;
}